[program:borgnana]
user=vagrant
command=/usr/bin/python {{ borgnana_dest }}/pyborg-irc.py
directory={{ borgnana_dest }}
autostart=true
autorestart=true
killasgroup=true
stopsignal=KILL
stopwaitsecs=5
priority=200
