# Owner(s) nickname #
owners  = ['vagrant', 'bossman']
# Chance of reply (%) per message #
reply_chance    = 100
# Reported 'real name' #
realname        = 'borgnana'
# The bot's nickname #
myname  = 'borgnana'
# Channels to auto-join #
chans   = ['#test']
# IRC Server to connect to (server, port [,password]) #
servers = [('127.0.0.1', 6667)]
# Ignore these nicknames: #
ignorelist      = []
# Hide the fact we are a bot #
stealth = 0
# password for control the bot (Edit manually !) #
password        = 'test'
# Reply to ignored people #
reply2ignored   = 0
# Allow the bot to talk on channels #
speaking        = 1
# IRC quit message #
quitmsg = 'toodles'
